@{
    Layout = "BasePages/_basePage.cshtml";
    Page.Section = "firstArticle";
}

@section firstArticle{
    <main class="container">
        <article class="blog-post mt-5">
            <h1>10 советов начинающему нумизмату</h1>
            <p class="blog-post-meta">С чего начинать в коллекционировании монет? Где взять коллекционный материал? Как хранить коллекцию? Эти вопросы стоят перед начинающими нумизматами, когда они присоединяются к тысячам российских любителей монет. Ниже приведены советы, которые помогут избежать ошибок, допускаемых большинством новичков в нумизматике </p>
            <h2 class="blog-post-title">1. Начинайте собирать недорогие монеты</h2>
            <p> Такие монеты доступны и их легче приобрести благодаря большим тиражам. Есть даже шанс получить экземпляр на сдачу.</p>
            <p>Начинающему коллекционеру сложно определить, какие монеты встречаются нечасто и стоят недёшево, а какие — не имеют нумизматической ценности. Поэтому в случае покупки недорогой монеты по завышенной цене финансовые потери будут ниже.</p>
            <p>Позднее, собрав коллекцию простых монет и накопив достаточный опыт, можно начинать приобретение дорогих и редких экземпляров.</p>
            <strong>Примеры тематик для первой коллекции:</strong>

            <ul>
                <li>юбилейные десятирублёвые монеты серий «Древние города» и «Регионы России»;</li>
                <li>современные не юбилейные российские монеты, находящиеся в обороте;</li>
                <li>юбилейные советские медно-никелевые монеты.</li>
            </ul>
            <hr>

            <h2 class="blog-post-title">2. Начинайте собирать одну серию</h2>
            <p> Не следует сразу собирать монеты различных тематик, одновременно приобретая, например, иностранные, советские и современные российские монеты, а также монеты императорского периода.</p>
            <strong>Это необходимо делать по следующим причинам:</strong>


            <ul>
                <li>начинающий нумизмат не может разбираться сразу во всех тематиках;</li>
                <li>коллекция не приносит радости, когда она просто увеличивается в размерах.</li>
            </ul>

            <p>Действуйте последовательно — собрав простую коллекцию современных монет, приступайте к коллекционированию серий советского периода, а затем начинайте приобретать императорскую медь, золото и серебро.</p>
            <hr>

            <h2 class="blog-post-title">3. Собирайте коллекцию из оборота</h2>
            <p> Коллекционирование монет, находящихся в обороте — самый популярный вид собирательства, причём не только в России, но и в других странах. Затраты при таком способе минимальны, процесс интересный и захватывающий. Большую часть коллекции удаётся собрать, получив нужный экземпляр от друзей или на сдачу.</p>
            <strong>Процесс сопровождается целой гаммой эмоций:</strong>


            <ul>
                <li>радость от находки недостающего экземпляра;</li>
                <li>волнение при проверке года выпуска и монетного двора;</li>
                <li>разочарование при отсутствии требуемой монеты в горсти мелочи.</li>
            </ul>
            <hr>

            <h2 class="blog-post-title">4. Приобретайте монету в состоянии UNC (анциркулейтед)</h2>
            <p> Часто начинающие коллекционеры не придают значения мелким выбоинам и царапинам на поверхности монеты, ориентируясь при покупке лишь на её цену.</p>
            <p>Но с появлением опыта приходит понимание, что от состояния монеты зависит как её ценность для коллекции, так и ликвидность при последующей продаже. То есть в дальнейшем монету в отличном состоянии легче продать или обменять.</p>
            <p>Поэтому лучше сразу положить в альбом экземпляр в отличном качестве, чем позднее менять его на монету лучшей сохранности.</p>
            <strong>Это решит две проблемы:</strong>

            <ul>
                <li>не нужно покупать ещё одну монету в лучшем качестве;</li>
                <li>не нужно заниматься продажей заменённой монеты.</li>
            </ul>
            <hr>

            <h2 class="blog-post-title">5. Используйте качественные аксессуары для хранения монет</h2>
            <p> После того, как определена тематика для собирательства, необходимо приобрести качественный альбом.</p>
            <p>В дешёвых изделиях, чаще китайского производства, используются листы из поливинилхлорида. При длительном контакте с ними монеты темнеют и покрываются зелёным налётом. Вся в причина в хлоре, который выделяется из пластика и портит внешний вид коллекции.</p>
            <p>Размещайте монеты в качественных альбомах известных фирм. Также можно хранить коллекцию в пластиковых капсулах, которые затем помещаются в альбом или кассету с бархатной подложкой.</p>
            <hr>

            <h2 class="blog-post-title">6. Не трогайте монеты пальцами</h2>
            <p> Совет простой, но часто игнорируемый новичками. Очень много экземпляров потеряло свой первозданный вид после контакта с подушечками пальцев начинающих коллекционеров. На коже человека всегда есть частицы жира и солей, которые при контакте с полем монеты оставляют несмываемые следы.</p>
            <p>Не только дорогие экземпляры с полированным полем, но и простые юбилейные десятки теряют внешний вид после контакта с руками. Чтобы избежать этого, используйте хлопчатобумажные перчатки или, если это невозможно, держите монету за гурт (ребро).</p>
            <hr>


            <h2 class="blog-post-title">7. Читайте нумизматическую литературу</h2>
            <p>Чтобы разбираться в предмете коллекционирования и не допускать ошибок при покупке, продаже или обмене монет, нужно постоянно повышать свой уровень знаний.</p>
            <p>Каталоги монет, исторические описания и книги по нумизматике — вся эта литература сейчас доступна начинающим нумизматам. Необходимо изучать как можно больше информации о предмете коллекционирования.</p>
            <p>Чем больше знаний по нумизматике у коллекционера, тем труднее его обмануть или продать ему коллекционный материал по завышенной цене. И наоборот, знающий нумизмат заметит экземпляр, который может стать жемчужиной коллекции там, где несведущие в нумизматике люди не обратят на него никакого внимания.</p>
            <hr>

            <h2 class="blog-post-title">8. Учитесь фотографировать</h2>
            <p>В процессе коллекционирования неизбежно наступает этап, когда возникает необходимость продать лишние экземпляры. И в этом помогут навыки фотографирования — чтобы монета хорошо продалась, нужно представить её в самом выгодном свете.</p>
            <strong>Используйте следующие приёмы:</strong>


            <ul>
                <li>старайтесь фотографировать при естественном освещении;</li>
                <li>поле монеты должно занимать 80% от площади снимка;</li>
                <li>делайте фото под небольшим углом, чтобы максимально передать штемпельный блеск;</li>
                <li>выбирайте правильный фон: монеты выглядят лучше на тёмном матовом фоне.</li>
            </ul>
            <hr>


            <h2 class="blog-post-title">9. Изучайте методы определения подлинности монет</h2>
            <p>Даже относительно недорогие монеты сейчас массово подделываются с целью сбыта коллекционерам. Основная часть подделок поступает в Россию из Китая.</p>
            <strong>Для того, чтобы не стать жертвой обмана в случае покупки монет с рук или на интернет-аукционах, необходимо изучать признаки, по которым определяется подлинность. К ним относятся:</strong>


            <ul>
                <li>вес монеты;</li>
                <li>магнитные свойства металла;</li>
                <li>чёткость прорисовки мелких деталей;</li>
                <li>отсутствие заплывших кромок на поле монеты;</li>
                <li>наличие гуртовых надписей.</li>
            </ul>
            <hr>

            <h2 class="blog-post-title">10. Покупайте на проверенных площадках</h2>
            <p>Этот совет преследует те же цели, что и предыдущий. Минимальный риск купить подделку — приобрести монету в нумизматическом интернет магазине, который даёт гарантию подлинности монеты. Часть признаков, подтверждающих, что монета — не подделка, можно проверить по фотографиям, которые всегда сопровождают экземпляры, выставленные на продажу.</p>
            <p>Читайте независимые отзывы о таких площадках, сравнивайте количество покупателей и срок работы на нумизматическом рынке. Только после этого отправляйте заказ на приобретение монет.</p>
            <p>Следуйте этим советам, и богатая нумизматическая коллекция будет много лет радовать вас и ваших потомков!</p>
            <hr>
        </article>
        <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-secondary disabled" aria-disabled="true" href="#">Назад</a>
            <a class="btn btn-outline-primary" href="~/Pages/SecondArticle.cshtml" tabindex="-1" >Вперед</a>
        </nav>
    </main>
}
