@using SSU.Coins.Entities;
@using SSU.Coins.Ioc;
@using SSU.Coins.BLL.Interface;
@using Ninject;
@{ Layout = "BasePages/_basePage.cshtml";
    Page.Section = "SignIn";

    if (IsPost)
    {

        if (!Request["login"].IsEmpty() && !Request["password"].IsEmpty())
        {
            var login = Request["login"];
            var password = Request["password"];

            var authLogic = DependenciesResolver.Kernel.Get<IAuthLogic>();

            System.Text.ASCIIEncoding encoding = new System.Text.ASCIIEncoding();
            byte[] bytePassword = encoding.GetBytes(password);

            if (authLogic.CanLogin(login, bytePassword))
            {
                FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);
                //Response.Redirect($"~/Pages/Index.cshtml");
            }
            else
            {
                Page.SingIn = "There is no user with this username or password";
            }
        }
    } }

@section SignIn {
    @if (IsAjax)
    {
        <div id="1">dsadasdsadsa</div>
    }
    @*action="~/Pages/SignIn.cshtml"*@
    <main class="main_autorization" role="main">
        <div class="container-autorization d-flex align-items-center">
            <form id ="form" class="form-signup" method="post">
                <h1 class="text-center h3 font-weight-normal">Авторизация</h1>
                <label for="inputEmail" class="visually-hidden"></label>
                <input name="login" type="email" id="inputText" class="form-control" placeholder="Email address" required="" autofocus="">

                <label for="inputPassword" class="visually-hidden"></label>
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

                <div class="checkbox mb-3"></div>
                <button id="submit" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
            </form>
        </div>
    </main>
}
