@{
    Layout = "BasePages/_basePage.cshtml";
    Page.Section = "thirdArticle";
}

@section thirdArticle{
<main class="container">
    <article class="blog-post mt-5">
        <h1>Словарь терминов (нумизматика и бонистика)</h1>
        <p class="blog-post-meta">В литературе по нумизматике и бонистике используются общепринятые понятия, знание которых необходимо для правильного понимания каталогов. Ниже приведена расшифровка основных терминов, употребляемых в справочниках при описании разновидностей и состояния, а также понятия, встречающиеся на форумах и в специализированной литературе. Для удобства все они разделены на группы.</p>
        <h2 class="blog-post-title">Часть 1. Основные понятия</h2>
        <p> <strong>АВЕРС</strong> — лицевая сторона. Для правильного определения того, что называть аверсом, необходимо последовательно проверить монету или бону на наличие следующих изображений:</p>
        <ul>
            <li>портрет правившего на тот период монарха;</li>
            <li>государственный герб;</li>
            <li>вензель или монограмма (узор, составленный из букв) правившего монарха;</li>
            <li>название государства-эмитента (например, «Российская Федерация»);</li>
            <li>название организации-эмитента (например, «Банк России»);</li>
            <li>номинал (пример - «50 копеек»).</li>
        </ul>
        <p>Если на монете есть потрет монарха, то сторона с его изображением является аверсом. Если портрета нет, или изображён портрет другого лица, аверсом будет сторона с гербом. Если и герба нет, тогда сторона с вензелем и т.д. Новички ошибочно считают аверсом ту сторону, где указан номинал, поскольку для пользователя он является наиболее важным. Это неправильное мнение.</p>
        <p>На банкнотах аверс обычно определяется проще, он содержит более сложные изображения, больше элементов защиты, а также соответствует тем же правилам, которые приведены выше для монет.</p>
        <hr />
        <p><strong>ВЕНЗЕЛЬ</strong> — узор, составленный из букв русского или латинского алфавита, как правило первых букв имени и отчества правящего монарха, но могут применяться и римские цифры.</p>
        <hr /> <p><strong>ВОДЯНОЙ ЗНАК </strong> — изображения на бумажном денежном знаке, видимое на просвет. Создаётся при изготовлении бумаги путём изменения толщины или состава в определённых местах. Водяной знак должен иметь такую же структуру, как бумага.</p>
        <hr />            <p><strong>ГИЛЬОШИРНАЯ РОЗЕТКА</strong> — один из распространённых элементов рисунка банкнот, представляет собой сложную рамку из переплетающихся линий, чаще всего с помещённой внутрь надписью, рисунком, или номиналом.</p>
        <hr />            <p><strong>ГУРТ</strong> — боковая поверхность (ребро) монеты. Может иметь или не иметь изображений. В случае отсутствия рисунка его называют гладким, даже если его поверхность не является совсем гладкой. Среди гуртов с рисунком для описания российских монет выделяют следующие понятия: рубчатый (вертикальные насечки), прерывисто-рубчатый (несколько насечек чередуются с пустыми участками), пунктирный (маленькие наклонные вдавленные чёрточки), шнуровидный (выпуклые наклонные насечки), сетчатый (рисунок в виде сетки), или надпись. Среди современных монет встречаются чередования разных типов.</p>
        <hr /> <p><strong>ЗНАК ГРАВЁРА</strong> — инициалы или специальный знак мастера, изготовившего штемпель, или первичный маточник.</p>
        <hr /> <p><strong>ЗНАК МИНЦМЕЙСТЕРА</strong> — инициалы или специальный знак лица, ответственного за чеканку.</p>
        <hr /> <p><strong>ЗНАК МОНЕТЧИКА</strong> — особые обозначения на монетах, которые ставили денежники или чеканщики вместо своих инициалов.</p>
        <hr /> <p><strong>КАНТ</strong> — тоже, что и буртик.</p>
        <hr /> <p><strong>КЛИШЕ </strong> — матрица для нанесения краски одного цвета на бумагу при печати банкнот способом металлографии. Представляет собор ровный металлический лист с вытравленными на нём изображениями. Кроме того, этим термином называют разновидность банкноты, отличающуюся незначительными деталями рисунка.</p>
        <hr /> <p><strong>ЛЕГЕНДА</strong> — любые надписи на монете.</p>
        <hr /> <p><strong>МОНОГРАММА</strong> — рисунок, образуемый несколькими буквами русского или латинского алфавита, может быть дополнен римскими цифрами. Отличие монограммы от вензеля — менее сложное выделение отдельных элементов. Монограммой также называют объединение нескольких вензелей.</p>
        <hr /> <p><strong>НАДПЕЧАТКА (КОНТРАМАРКА)</strong> — изображение или текст, нанесённые на бумажный денежный знак после его выпуска. Имели массовый характер в годы Гражданской войны, когда в качестве законного средства платежа признавались выпуски банкнот и облигаций царского времени или Временного правительства со специальными советскими надпечатками. Были надпечатки и местных правительств.</p>
        <hr /> <p><strong>НАДЧЕКАНКА</strong> — какая-либо пометка или штамп, нанесённые после изготовления монеты. К ним можно отнести новоделы имперского времени и надчеканки «Низложен» на портретах 50 копеек и 1 рубля Николая II. В начале 90-х годов советские монеты в большом количестве использовались в игровых и телефонных автоматах в качестве жетонов, на них делались надчеканки в виде цифр.</p>
        <hr /> <p>
            <strong>НОВОДЕЛ</strong> — монета, изготовленная на монетном дворе оригинальными штемпелями по заказу коллекционеров. Иногда могут использоваться доработанные или созданные заново штемпели, в таком случае новодел будет иметь некоторые отличительные особенности. Не следует путать новоделы с современными копиями или подделками./p>
            <hr />
        <p><strong>ОБОДОК</strong> — тоже, что и буртик.</p>
        <hr /> <p><strong>ОТТИСК В ДРУГОМ МЕТАЛЛЕ </strong> — применение для изготовления монеты заготовки из несвойственного для неё металла из-за ошибки или отсутствия нужных заготовок. Такие монеты высоко ценятся среди коллекционеров.</p>
        <hr /> <p><strong>ПОЛЕ МОНЕТЫ</strong> — любые надписи на монете.</p>
        <hr /> <p><strong>ЛЕГЕНДА</strong> — свободная от рельефа часть, по которой часто определяют сохранность (чем ровнее поле, тем выше сохранность). На поле может быть виден штемпельный блеск — слабые матовые разводы.</p>
        <hr /> <p><strong>ПРОБНАЯ МОНЕТА</strong> — монета, изготовленная в количестве одного или нескольких экземпляров для демонстрации возможностей чеканки или внешнего вида. Если пробная монета не имеет никаких отличий от монет массового выпуска, то она не представляет ценности для коллекционеров. Если монета имеет хотя бы незначительные отличия, она становится раритетом.</p>
        <hr /> <p><strong>ПРОСТОЙ КРЕСТ</strong> — общепринятое в среде коллекционеров название креста державы, у которого на концах вместо перекладин находятся треугольники.</p>
        <hr /> <p><strong>ПУНКТИРНЫЙ ГУРТ</strong> — на боковой части монеты находятся мелкие короткие наклонные насечки, не доходящие до краёв.</p>
        <hr /> <p><strong>РЕВЕРС</strong> — противоположная аверсу сторона.</p>
        <hr /> <p><strong>РЕГАЛИИ</strong> — символы высшей власти. На российских монетах регалиями называют скипетр, державу и короны.</p>
        <hr /> <p><strong>РУБЧАТЫЙ ГУРТ</strong> — боковая поверхность монеты имеет множественные вертикальные насечки.</p>
        <hr /> <p><strong>ТОЧЕЧНЫЙ ОБОДОК</strong> — дополнение с внутренней стороны канта, состоящее из множества точек, расставленных в ровный круг.</p>
        <hr /> <p><strong>УКРАШЕННЫЙ ВЕНЗЕЛЬ</strong> — вензель, концы которого имеют сложное оформление.</p>
        <hr /> <p><strong>УКРАШЕННЫЙ КРЕСТ</strong> — общепринятое в среде коллекционеров название креста державы, у которого на концах имеются перекладины.</p>
        <hr /> <p><strong>ФЕСТОНЫ</strong> — элемент украшения одежды или интерьера в виде гирлянд. На российских монетах фестонами чаще всего называют украшения на наплечниках, которые можно разглядеть на портрете.</p>
        <hr /> <p><strong>ШНУРОВИДНЫЙ ГУРТ</strong> — рисунок на боковой части монеты представляет собой выпуклые наклонённые насечки, в целом похож на рисунок каната.</p>
        <hr /> <p><strong>ЭМБЛЕМА</strong> — знак, составленный из букв или изображений. Например, знак монетного двора (часто называемый клеймом), или эмблема «Банка России» — двуглавый орёл без корон и регалий.</p>


        <h2 class="blog-post-title">
            Часть 2. Номиналы
        </h2>
        </p> <hr /> <p>
            <strong>

                АЛТЫН (АЛТЫННИК)
            </strong>— 3 копейки или 6 денег, слово имеет татарское происхождение и вероятно было счётным понятием ещё с времён монгольского завоевания. В ходе реформ Алексея Михайловича и Петра I выпускались монеты с номиналом «алтын»

        </p> <hr /> <p>
            <strong>
                ГРИВНА (ГРИВЕННИК)
            </strong>— с XVI-XVII веков означает 10 копеек, начиная с петровского времени и до правления Павла I обозначалось на монетах вместо номинала. В период раздробленности на Руси гривнами называли слиток серебра весом от 100 до 200 граммов, различают южнорусские (киевские, 160 г), западнорусские (литовские, 100-110 г) и новгородские гривны (200-205 г). Первоначально гривной называли шейное серебряное украшение («грива» - шея)

        </p> <hr /> <p>
            <strong>
                ДЕНГА (ДЕНЬГА, ДЕНЕЖКА)
            </strong>— ½ копейки. Основная монета на Руси с XIV века до реформы Ивана Грозного, после чего уступила место копейке. Название имеет татарское происхождение. Начиная с петровской реформы становится мелкой разменной монетой, и с этого времени чеканится только из меди

        </p> <hr /> <p>
            <strong>
                КОПЕЙКА
            </strong>— 1/100 рубля. Это соотношение появляется в правление Ивана Грозного, но за несколько десятилетий до этого данное слово уже использовалось в России и обозначало новгородскую монету-деньгу весом 0,8 грамма с изображением всадника с копьём. Предположительно вначале применялся термин «копейная деньга», сократившийся затем в «копейку»

        </p> <hr /> <p>
            <strong>
                ПОЛТИНА (ПОЛТИННИК)
            </strong>— монета стоимостью 50 копеек. До правления Александра III этим словом обозначался номинал, затем он стал обозначаться в копейках. В 1924-1927 годах в СССР массово чеканилась монета с обозначением «ОДИН ПОЛТИННИК». В настоящее время это слово стало обозначать 50-рублёвый номинал

        </p> <hr /> <p>
            <strong>
                ПОЛУПОЛТИННИК (ПОЛУПОЛТИНА)
            </strong>— монета номиналом 25 копеек. До середины XIX века слово обозначалось на монетах, затем становится только счётным понятием

        </p> <hr /> <p>
            <strong>
                ПОЛУШКА
            </strong>— ¼ копейки или ½ денги. Вероятнее всего название означает половину денги </strong>— основной монеты на протяжении долгого времени, но существуют и другие версии, уходящие корнями в безмонетный период. До середины XVI века чеканилась только из серебра, а с петровской эпохи становится исключительно медной

        </p> <hr /> <p>
            <strong>
                ПУЛО
            </strong>— мелкая медная монета, выпускавшаяся на Руси в период раздробленности в некоторых княжествах (в основном Новгородское и Тверское). По размеру примерно равна серебряной денге того времени и весит менее грамма. Нет точных данных о покупательной способности пулов, но предположительно они могли составлять 1/60 денги

        </p> <hr /> <p>
            <strong>
                РУБЛЬ
            </strong>— до второй половины XVII века был лишь счётным понятием. Примерно с XVI века стал включать в себя 100 копеек или 200 денег. Первая монета-рубль появилась в 1654 году, но просуществовала недолго. В ходе реформы Петра I становится полноправным участником денежного обращения и основой денежной системы. Слово «рубль» впервые появляется в XIII веке, когда для облегчения мелких покупок 200-граммовый слиток серебра (гривну) начали рубить на части

        </p> <hr /> <p>
            <strong>
                ЧЕРВОНЕЦ (БАНКНОТА)
            </strong>— выпускалась с 1922 года до реформы 1947 (все поздние выпуски имели дату «1937»). Поначалу бумажный червонец имел золотое обеспечение, такое же, как у 10 дореволюционных рублей, но обмен на золото фактически не проводился. С 1925 года червонец был приравнен к 10 рублям и начал выполнять роль крупных купюр в дополнение к купюрам рублёвых номиналов (1, 3 и 5 рублей)

        </p> <hr /> <p>
            <strong>
                ЧЕРВОНЕЦ (МОНЕТА)
            </strong>— золотая монета весом около 3,5 грамм, чеканившаяся в XVIII веке. На ней отсутствовал номинал, по золотому содержанию она приравнивалась к европейскому дукату. В денежном обращении России имела плавающий курс, близкий к 2 рублям. Использовалась также для международных расчётов. В 1923 году была выпущена партия советских золотых червонцев с гербом РСФСР для размена бумажных червонцев образца 1922 года. В 1924 году от их выпуска отказались, а в 1925 были изготовлены пробные варианты золотого и медного червонца с гербом СССР. В 1975-1982 годах отчеканен большой тираж новодельных червонцев с гербом РСФСР и новыми датами, в настоящее время они реализуются банками как инвестиционные монеты

            <h2 class="blog-post-title">
                Часть 3. Названия монет и бон
            </h2>
        </p> <hr /> <p>
            <strong>
                АНДРЕЕВСКАЯ МОНЕТА
            </strong>— золотые 2 рубля с изображением апостола Андрея Первозванного

        </p> <hr /> <p>
            <strong>
                АНЭПИГРАФНАЯ МОНЕТА
            </strong>— монета без надписей, содержит только изображения. Среди российских монет к таким можно отнести медные пулы XV века

        </p> <hr /> <p>
            <strong>
                АССИГНАЦИИ
            </strong>— первые русские бумажные деньги, выпускавшиеся с 1769 по 1839 год. Разменивались на медную монету, и имели равный с нею курс. Серебряные и золотые монеты по отношению к ассигнациям и медным монетам поначалу стоили одинаково, но после бесконтрольного выпуска ассигнаций стали значительно более востребованы. В 1810-1812 годах курс ассигнационного рубля упал до 20 копеек, но затем благодаря реформам вырос до 30

        </p> <hr /> <p>
            <strong>
                БАНКНОТЫ
            </strong>— билеты, выпускаемые центральным банком. До Революции это были так называемые кредитные билеты, частично обеспеченные серебряной, а затем золотой монетой. Начиная с советского времени не имеют никакого обеспечения, но выпуск строго контролируется государством («обеспечены всем достоянием государства»)

        </p> <hr /> <p>
            <strong>
                БАНКОВАЯ (БАНКОВСКАЯ) МОНЕТА
            </strong>— рубли и полтины 1796 года с буквами «БМ», выпущенные из серебра, принадлежавшего Ассигнационному банку. Банковыми монетами также называли крупные серебряные монеты Российской империи номиналом от 25 копеек и выше

        </p> <hr /> <p>
            <strong>
                БИЛЕТЫ ГОСУДАРСТВЕННОГО БАНКА
            </strong>— тоже, что и банкноты. В СССР в первое время к ним причислялись бумажные червонцы, а с 1991 года абсолютно все купюры

        </p> <hr /> <p>
            <strong>
                БИЛЛОН
            </strong>— серебряная монета 500 пробы, то есть половинной

        </p> <hr /> <p>
            <strong>
                БИМЕТАЛЛ
            </strong>— монета из двух разных металлов (кольцо и диск)

        </p> <hr /> <p>
            <strong>
                БИМ
            </strong>— тоже, что и биметалл

        </p> <hr /> <p>
            <strong>
                БОНЫ
            </strong>— денежные знаки (банкноты), вышедшие из обращения, а также денежные знаки местного обращения (платёжные боны)

        </p> <hr /> <p>
            <strong>
                БРАКТЕАТ
            </strong>— средневековая европейская монета, изготовленная из очень тонкого листа серебра, имеет изображение на одной стороне и негатив на другой. Встречается в некоторых русских кладах

        </p> <hr /> <p>
            <strong>
                БУМАЖНЫЕ ДЕНЬГИ
            </strong>— денежные знаки из бумаги (могут быть и из другого материала), которые не обеспечены на 100% драгоценными металлами или товарами. Фактически это любые банкноты, поскольку их курс почти всегда сильно отличался от обеспечения

        </p> <hr /> <p>
            <strong>
                ВОСТОЧНЫЕ МОНЕТЫ
            </strong>— древние и средневековые монеты с надписями на восточных языках (китайском, японском, корейском, арабском, индийском, персидском и других подобных). В российской нумизматике этим термином обычно называют арабские дирхемы и монеты Золотой Орды, обнаруживаемые в кладах VIII-XIII веков

        </p> <hr /> <p>
            <strong>
                ГВС
            </strong>— серия 10-рублёвых монет «Города воинской славы», выпускающиеся с 2011 года

        </p> <hr /> <p>
            <strong>
                ГИБРИДНАЯ МОНЕТА
            </strong>— монета, изготовленная штемпелями из разных пар. Например, лицевая сторона от 10 копеек, а оборотная от 15. Такие монеты также называют перепутками

        </p> <hr /> <p>
            <strong>
                ДАРСТВЕННАЯ МОНЕТА
            </strong>— подарочная монета специального оформления для представителя правящей династии, или для иностранных гостей

        </p> <hr /> <p>
            <strong>
                ДВУСТОРОННЯЯ МОНЕТА
            </strong>— монета, которая имеет разные изображения или надписи с каждой стороны

        </p> <hr /> <p>
            <strong>
                ДВУЯЗЫЧНАЯ МОНЕТА
            </strong>— монета с надписями на разных языках. Выпускались для использования разными государствами, или на территориях, населённых разными народами. В России двуязычные монеты существовали во времена Дмитрия Донского и Василия Тёмного, имели надписи на татарском и русском языках

        </p> <hr /> <p>
            <strong>
                ДЕНЕЖНЫЙ ЗНАК
            </strong>— монета или купюра, ценность которой установлена искусственно, а не на основании содержащегося драгоценного металла

        </p> <hr /> <p>
            <strong>
                ДЕНЗНАК
            </strong>— тоже, что денежный знак

        </p> <hr /> <p>
            <strong>
                ДОНАТИВНАЯ МОНЕТА
            </strong>— специальные подарочные монеты из золота или серебра, предназначавшиеся для высокопоставленных лиц, и не участвовавшие в обращении

        </p> <hr /> <p>
            <strong>
                ЕФИМОК
            </strong>— русское название серебряных талеров, чеканившихся в Европе в XVI-XVII веках

        </p> <hr /> <p>
            <strong>
                ЕФИМОК С ПРИЗНАКОМ
            </strong>— серебряный европейский талер с надчеканкой в виде всадника и с датой. Изготавливались в Москве для обращения вначале как рублёвые монеты,а затем как 64 копейки. Вес талера соответствовал 64 русским копейкам

        </p> <hr /> <p>
            <strong>
                ЗВОНКАЯ МОНЕТА
            </strong>— монета из драгоценного металла, номинал которой почти равен стоимости содержащегося металла. В России до Революции звонкими монетами были золотые и серебряные, медные к ним не причислялись. Сейчас аналогом звонкой монеты можно назвать инвестиционные монеты, но их номинал совершенно не соответствует стоимости металла, хотя стоимость самой монеты близка к нему

        </p> <hr /> <p>
            <strong>
                ИЗВЕСТНАЯ МОНЕТА
            </strong>— голландские золотые дукаты, которые с 1767 по 1867 год тайно чеканились на Санкт-петербургском монетном дворе для международных расчётов, чтобы избежать лаж, применяемый к российскому рублю

        </p> <hr /> <p>
            <strong>
                КАЗНАЧЕЙСКИЕ БИЛЕТЫ
            </strong>— купюры мелкого достоинства (в СССР </strong>— 1, 3 и 5 рублей), которые не должны были влиять на инфляционные процессы в стране, поскольку обеспечивались лишь формально, в отличие от Билетов государственного банка. Использовались в качестве мелких разменных денег

        </p> <hr /> <p>
            <strong>
                КЕРЕНКИ
            </strong>— купюры достоинством 20 и 40 рублей образца 1917 года, получившие своё название по фамилии председателя Временного правительства А.Ф. Керенского

        </p> <hr /> <p>
            <strong>
                КОНСТАНТИНОВСКИЙ РУБЛЬ
            </strong>— особый тип рубля 1825 года, на котором изображён портрет Константина </strong>— наследника престола, который отказался от правления в пользу своего брата Николая

        </p> <hr /> <p>
            <strong>
                КОРОНАЦИОННАЯ МОНЕТА
            </strong>— памятная монета, выпущенная по случаю коронации правящего монарха

        </p> <hr /> <p>
            <strong>
                КРЕДИТНЫЕ БИЛЕТЫ
            </strong>— бумажные деньги, целью которых является восполнение дефицита монет из драгоценных металлов, в отличие от ассигнаций, заменявших медную монету. Коме этого, кредитные билеты частично могли обеспечиваться частным банковским кредитованием

        </p> <hr /> <p>
            <strong>
                КУФИЧЕСКИЕ МОНЕТЫ
            </strong>— монеты с арабскими надписями, которые находят в древнерусских кладах. На старорусском языке слово «куфи» означало «арабское письмо»

        </p> <hr /> <p>
            <strong>
                ЛОБАНЧИКИ
            </strong>— народное название голландских золотых дукатов русской чеканки

        </p> <hr /> <p>
            <strong>
                МОНЕТА-ПЛАТА
            </strong>— крупные медные квадратные пластины с выбитым на них номиналом, выпускались в 1725-1726 годах в Екатеринбурге

        </p> <hr /> <p>
            <strong>
                МОНЕТА РАЗОРУЖЕНИЯ
            </strong>— сувенирная монета, выпущенная в память о договоре между США и СССР 1988 года о ядерном разоружении. Изготовлялась из металла ракет

        </p> <hr /> <p>
            <strong>
                МОНЕТЫ РЕГУЛЯРНОГО ЧЕКАНА
            </strong>— монеты, предназначенные исключительно для обращения. То есть все, кроме коллекционных и памятных

        </p> <hr /> <p>
            <strong>
                МОСКОВКА
            </strong>— стандартная монета для периода расцвета Московского княжества, имела вес около 0,4 грамма, на ней изображался всадник с мечом. После реформы Елены Глинской по её подобию стали изготавливать денги </strong>— полкопейки

        </p> <hr /> <p>
            <strong>
                НОВГОРОДКА
            </strong>— монета весом около 0,8 г с изображением всадника с копьём. Чеканилась в начале XVI века в Новгороде, по её подобию после реформы Елены Глинской начали делать первые копейки

        </p> <hr /> <p>
            <strong>
                ОДНОСТОРОННЯЯ МОНЕТА
            </strong>— монета, которая имеет рисунок или надписи только с одной стороны. Яркий пример </strong>— брактеат

        </p> <hr /> <p>
            <strong>
                ПАМЯТНАЯ МОНЕТА
            </strong>— монета, выпущенная в память о каком-либо событии. Иногда к памятным относят также и юбилейные монеты

        </p> <hr /> <p>
            <strong>
                ПЕРЕПУТКА
            </strong>— монета из несвойственного для неё металла, чаще всего вызвано ошибочным использованием заготовки для другой монеты. Также перепутками могут называть монеты меньшего или большего диаметра, если использована заготовка от другого номинала, или гибридные монеты (описаны выше)

        </p> <hr /> <p>
            <strong>
                ПОДРАЖАНИЕ
            </strong>— изготовление под контролем правительства монет, очень похожих на монеты другого государства, но имеющих некоторые отличия

        </p> <hr /> <p>
            <strong>
                СЕСТРОРЕЦКИЙ РУБЛЬ
            </strong>— тяжёлые (около 1 кг) медные монеты, которые планировалось выпускать на Сестрорецком оружейном заводе. Известны только пробные экземпляры, новоделы и многочисленные подделки

        </p> <hr /> <p>
            <strong>
                СОВЗНАКИ
            </strong>— расчётные знаки РСФСР 1919-1921 годов, являвшиеся первыми советскими деньгами, и подвергшиеся сильной инфляции

        </p> <hr /> <p>
            <strong>
                ЮБИЛЕЙНАЯ МОНЕТА
            </strong>— монета, выпущенная в честь юбилейной даты. К ним иногда относят и все памятные монеты

        </p>

        <h2 class="blog-post-title">
            Часть 4. Материалы
        </h2>
        </p> <hr /> <p>
            <strong>

                АЛЮМИНИЕВАЯ БРОНЗА
            </strong>— сплав меди и алюминия (доля меди — более 85%). Использовался с 1926 по 1957 год для чеканки монет номиналом 1, 2, 3 и 5 копеек

        </p> <hr /> <p>
            <strong>
                БРОНЗА
            </strong>— сплав меди (около 95%), олова (около 4%) и цинка (около 1%), имеет коричнево-жёлтый цвет. Используется для чеканки монет с 1958 года с увеличенным содержанием цинка (медно-цинковый сплав)

        </p> <hr /> <p>
            <strong>
                ЗОЛОТО
            </strong>— драгоценный металл жёлтого цвета, имеет одну из самых больших плотностей для металлов, почти в два раза тяжелее серебра. Активно применялось в русской монетной чеканке со времени Петра I до 1911 года, затем в основном для сувенирных монет. Температура плавления около 1060 градусов

        </p> <hr /> <p>
            <strong>
                ЛАТУНЬ
            </strong>— сплав меди и цинка, процент меди в сплаве ниже, чем у томпака. В 1997-2006 годах использовалась для чеканки монет номиналом 10  50 копеек, а с 2009 года для покрытия заготовок 10-рублёвых монет. Коме этого, латунь использовалась для изготовления колец для биметаллических монет 2000-2016 годов

        </p> <hr /> <p>
            <strong>
                МЕДНО-НИКЕЛЕВЫЙ СПЛАВ
            </strong>— сплав меди и никеля, применяющийся для производства российских монет с 1931 года, имеет сероватый цвет. Основу сплава составляет медь, может включать и другие компоненты </strong>— сталь, цинк, олово. Основные разновидности сплава: мельхиор, нейзильбер

        </p> <hr /> <p>
            <strong>
                МЕДНО-ЦИНКОВЫЙ СПЛАВ
            </strong>— разновидность латуни, содержит большое количество меди, около 15% цинка и немного олова

        </p> <hr /> <p>
            <strong>
                МЕДЬ
            </strong>— один из самых распространённых металлов, применявшихся для изготовления русских монет со времён Петра I. Имеет красновато-розовый цвет, быстро приобретающий коричневый оттенок под воздействием воздуха. Температура плавления </strong>— 1083 градуса, плотность ниже, чем у серебра. С 20-х годов XX века медные монеты не чеканятся, за исключением 5 рублей 1997-2009 годов с покрытием из мельхиора

        </p> <hr /> <p>
            <strong>
                МЕЛЬХИОР
            </strong>— сплав никеля (до 30%), железа (до 0,8%), марганца (до 1 %) и меди, имеет сероватый цвет. В России применятся в монетной чеканке с 1990-х годов

        </p> <hr /> <p>
            <strong>
                НЕЙЗИЛЬБЕР
            </strong>— сплав меди (около 60%), цинка (около 30%) и никеля (около 10%), имеет серовато-зеленоватый цвет. Используется для производства монет номиналом от 10 копеек и выше с 1931 года

        </p> <hr /> <p>
            <strong>
                НИКЕЛЬ
            </strong>— металл серебристо-белого цвета, имеет высокую стойкость к коррозии. В чистом виде для чеканки российских монет применялся только в XIX и начале XX века при изготовлении некоторых пробных экземпляров

        </p> <hr /> <p>
            <strong>
                ПАЛЛАДИЙ
            </strong>— драгоценный металл, внешне похожий на платину, но почти в два раза легче неё. Применялся для изготовления коллекционных монет улучшенной чеканки в 1977-1995 годах

        </p> <hr /> <p>
            <strong>
                ПЛАТИНА
            </strong>— тяжёлый тугоплавкий драгоценный металл серебристо-белого цвета. Применялся для выпуска монет особых номиналов (3, 6 и 12 рублей) в 1828-1845 годах, а также в 1977-1995 для изготовления коллекционных монет улучшенной чеканки

        </p> <hr /> <p>
            <strong>
                СЕРЕБРО
            </strong>— драгоценный металл, основа денежного обращения России до 1890-х годов. Почти в два раза легче золота и платины, по весу сравнимо с такими металлами, как медь, латунь, медно-никелевые сплавы. Температура плавления </strong>— около 960 градусов

        </p> <hr /> <p>
            <strong>
                СТАЛЬ
            </strong>— сплав железа и углерода. Самый дешёвый металл, применяемый при изготовлении монет. Без защитного покрытия быстро ржавеет, поэтому стальные монеты обязательно имеют плакировку или гальванопокрытие

        </p> <hr /> <p>
            <strong>
                ТОМПАК
            </strong>— сплав меди и цинка с содержанием меди от 88 до 97%, является разновидностью латуни. В настоящее время применяется в качестве плакировки для стали при изготовлении монет номиналом 10 и 50 копеек

            <h2 class="blog-post-title">
                Часть 5. Производство монет
            </h2>
        </p> <hr /> <p>
            <strong>
                АМАЛЬГАЦИЯ
            </strong>— извлечение драгоценных металлов из руды с помощью ртути. Применялся с античных времён примерно до начала XIX века

        </p> <hr /> <p>
            <strong>
                АФФИНАЖ
            </strong>— выделение чистого драгоценного металла из сплава

        </p> <hr /> <p>
            <strong>
                АФФИНАЖНЫЙ СЛИТОК
            </strong>— слиток побочного металла, который был выделен в результате очищения драгоценного металла от примесей. Во второй половине XIX века в России частично использовались в обращении монетовидные аффинажные серебряные слитки, получаемые при выплавке золота

        </p> <hr /> <p>
            <strong>
                БЛОКИРОВАННАЯ ЧЕКАНКА
            </strong>— выпуск монеты исключительно из металла, принадлежащего государству. До реформы Елены Глинской право чеканки мог получить денежник </strong>— доверенное лицо, затем монеты начинают выпускаться исключительно на государственных монетных дворах. А с середины XVII века </strong>— исключительно из государственного металла

        </p> <hr /> <p>
            <strong>
                ВАЛЬЦОВКА
            </strong>— прокат металла между валиками для уменьшения его толщины

        </p> <hr /> <p>
            <strong>
                ВЫХОД
            </strong>— число монет, которое можно изготовить из определённого количества металла

        </p> <hr /> <p>
            <strong>
                ГАЛЬВАНОПОКРЫТИЕ
            </strong>— нанесение тончайшего слоя другого металла на металическую заготовку. Наряду с плакировкой служит для защиты основы от воздействия окружающей среды

        </p> <hr /> <p>
            <strong>
                ГАШЕНИЕ МОНЕТЫ
            </strong>— нанесение на монету специальной надчеканки, запрещающей использование её в качестве средства платежа. В настоящее время применяется на монетных дворах при отбраковке монет, при этом всю монету покрывают штриховкой

        </p> <hr /> <p>
            <strong>
                ГУРЧЕНИЕ
            </strong>— нанесение гурта на заготовку перед последующей чеканкой. Для гурчения используются специальные станки, а под чеканочный пресс заготовки попадают уже с гуртом

        </p> <hr /> <p>
            <strong>
                ГРАВИРОВКА
            </strong>— доводка изображения на штемпеле (в редких случаях на самой монете)

        </p> <hr /> <p>
            <strong>
                ДЕНЕЖНИК
            </strong>— в Древней Руси лицо, которому государство доверило выпуск монет из собственного металла. До Ивана Грозного почти все монеты изготавливались денежниками </strong>— купцами с большими запасами серебра, они получали право наносить на монеты имя князя

        </p> <hr /> <p>
            <strong>
                ЛИГАТУРА
            </strong>— металл, добавляемый к драгоценному для придания сплаву большей твёрдости, или снижения процента драгоценного металла

        </p> <hr /> <p>
            <strong>
                ЛИГАТУРНАЯ МАССА
            </strong>— чистая масса определённого драгоценного металла в сплаве

        </p> <hr /> <p>
            <strong>
                МАТОЧНИК
            </strong>— штамп из твёрдого сплава для изготовления штемпелей, которыми в дальнейшем чеканят монеты

        </p> <hr /> <p>
            <strong>
                МИНЦМЕЙСТЕР
            </strong>— начальник монетного производства, не обязательно начальник монетного двора

        </p> <hr /> <p>
            <strong>
                МОЛОТОВЫЙ СНАРЯД
            </strong>— устройство для скрепления верхнего и нижнего штемпелей при ручной чеканке монет. Позволяет избежать удержание верхнего штемпеля рукой и устраняет смещение сторон относительно друг друга

        </p> <hr /> <p>
            <strong>
                МОНЕТНАЯ ЗАГОТОВКА
            </strong>— кружок металла, приготовленный для чеканки монеты

        </p> <hr /> <p>
            <strong>
                МОНЕТНАЯ СТОПА
            </strong>— номинальная стоимость монет, которые можно выпустить из определённого количества металла. В Российской империи стопа медных монет рассчитывалась на пуд, а серебряных и золотых на фунт

        </p> <hr /> <p>
            <strong>
                МОНЕТНЫЙ ДВОР
            </strong>— предприятие, специализирующееся на выпуске монет или монетовидных денежных знаков

        </p> <hr /> <p>
            <strong>
                ОТБЕЛИВАНИЕ
            </strong>— вытравливание из верхнего слоя монетных заготовок части меди для предотвращения окисления или изменения цвета монеты. Применяется для заготовок из сплавов, содержащих большое количество меди

        </p> <hr /> <p>
            <strong>
                ОТЖИГ
            </strong>— процесс сильного нагрева листа для монетных заготовок после его проката для предотвращения растрескивания металла

        </p> <hr /> <p>
            <strong>
                ПАВЛОВСКИЙ ПЕРЕЧЕКАН
            </strong>— переделывание 10, 4 и 2 копеечных монет образца 1796 года в 5, 2 и 1 копейку методом перечеканки в 1797 году. Для этого использовались штемпели времени правления Екатерины II с датами 1791-1796. От почих перечеканов павловский отличается тем, что новые монеты получались со старыми датами

        </p> <hr /> <p>
            <strong>
                ПАНТОГРАФИРОВАНИЕ
            </strong>— создание уменьшенной копии модели штемпеля с помощью редукционного станка

        </p> <hr /> <p>
            <strong>
                ПАРНЫЕ ШТЕМПЕЛИ
            </strong>— два штемпеля, из которых один предназначен для чеканки одной стороны монеты, а другой для второй. Если произошла замена одного из них на штемпель другого типа, тогда возникает чеканка непарными штемпелями, что приводит к возникновению перепуток или подражаний

        </p> <hr /> <p>
            <strong>
                ПЕРЕГУРЧИВАНИЕ
            </strong>— изменение изображения на гурте путём нанесения нового рисунка поверх старого

        </p> <hr /> <p>
            <strong>
                ПЕРЕЧЕКАНКА (ПЕРЕЧЕКАН)
            </strong>— нанесение на монету новых изображений путём чеканки или тиснения без удаления старых. В результате почти всегда остаются части старых изображений, дополняющие рельеф. Перечеканка была распространена в России в XVIII веке для повышения или понижения номинала медных монет в 2 и более раз

        </p> <hr /> <p>
            <strong>
                ПЛАКИРОВКА
            </strong>— тонкий слой другого металла на поверхности основы. Наносится на лист металла перед вырезанием заготовок, поэтому монеты с плакировкой имеют гурт другого цвета. Основная цель плакировки </strong>— предотвращение от окисления

        </p> <hr /> <p>
            <strong>
                ПОЛИРОВАННЫЙ ШТЕМПЕЛЬ
            </strong>— специально подготовленный штемпель для чеканки коллекционных монет. Имеет отполированную до зеркального блеска поверхность (кроме углублений), или включая углубления

        </p> <hr /> <p>
            <strong>
                ПРОБИРЕР
            </strong>— специалист по проверке пробы сплава у монет

        </p> <hr /> <p>
            <strong>
                ПУАНСОН
            </strong>— штемпель с частью изображения. Служат для создания маточников путём последовательного нанесения изображений перед последующим закаливанием. Такой способ сильно упрощает процесс создания маточников, поскольку повреждённые элементы можно устранить заменой одного пуансона. Коме того, в дизайн монеты легко вносить корректировки

        </p> <hr /> <p>
            <strong>
                РЕДУКЦИОННЫЙ СТАНОК
            </strong>— устройство для перенесения рельефа с увеличенной модели на модель штемпеля в натуральную величину. Процесс перенесения с уменьшением размера называется пантографированием. Долгое время для этого использовалась система зубчатых колёс, сейчас в основном лазерные технологии

        </p> <hr /> <p>
            <strong>
                РЕЗЧИК
            </strong>— мастер отладки изображений на штемпеле. Иногда выступает также в роли скульптора, занимающегося лепкой первоначальной увеличенной модели

        </p> <hr /> <p>
            <strong>
                РУЧНАЯ ЧЕКАНКА
            </strong>— изготовление монеты с помощью молота и наковальни. Удар производился по верхнему штемпелю, который устанавливался на нижний с прослойкой из заготовки будущей монеты. Ручная чеканка применялась до эпохи Петра I, после чего уступила место тиснению </strong>— продавливанию изображений с помощью винтового пресса. В настоящее время ручным способом изготавливают только сувенирные жетоны, преподнося это как особый аттракцион для туристов

        </p> <hr /> <p>
            <strong>
                СВОБОДНАЯ ЧЕКАНКА
            </strong>— выпуск монет на государственном монетном дворе из металла, предоставляемого частными лицами. Заказчик, уплатив некоторый сбор, получал уже готовые монеты и мог использовать их для покупок. Такой тип чеканки применялся в России до середины XVII века (до реформ Алексея Михайловича)

        </p> <hr /> <p>
            <strong>
                СКРАП
            </strong>— обрезки металла, возникающие после выделения монетных заготовок из цанов. Обрезки идут на переплавку для изготовления новых заготовок

        </p> <hr /> <p>
            <strong>
                ТИСНЕНИЕ
            </strong>— распространённый в императорской России способ изготовления монет, при котором заготовки раскладывались на специальных поддонах и зажимались винтовым прессом с прикреплёнными штемпелями. Данный способ позволял изготавливать большое количество монет по технологиям того времени. В качестве двигателя применялась конная, а затем паровая тяга

        </p> <hr /> <p>
            <strong>
                УГАР
            </strong>— снижение массы драгоценного металла при переплавке в новые изделия. Обычно составляет не выше 1%. Возникает частично из-за испарения металла, случайного смешивания с удаляемым осадком, оседания в трещинах формы и т.д. При использовании правильной технологии плавки можно снизить угар почти до нуля

        </p> <hr /> <p>
            <strong>
                УСАДКА
            </strong>— уменьшение объёма металла после остывания. При нагреве металл, как и все материалы, расширяется, поэтому при выплавке изделий обязательно учитывают усадку

        </p> <hr /> <p>
            <strong>
                ЦАН
            </strong>— пластина металла, подготовленная для вырезания монетных заготовок. Поначалу цаны имели вид стержней. Которые зажимали в специальном устройстве и прокатывали до достижения нужной толщины. Впоследствии цаны начали отливать сразу в виде тонких пластин. В настоящее время используются пластины, имеющие сразу нужную толщину

        </p> <hr /> <p>
            <strong>
                ЦАНОВАЯ ПРОБА
            </strong>— процесс определения пробы для кусочка металла, взятого от цана

        </p> <hr /> <p>
            <strong>
                ЦАНОВЫЙ КРЮК
            </strong>— приспособление для перемещения цанов сразу после отливки, например при их закаливании

        </p> <hr /> <p>
            <strong>
                ЧЕКАНКА
            </strong>— нанесение на заготовку изображений с двух сторон путём помещения её между двумя штемпелями с последующим ударом. Данный метод применялся до XVII-XVIII веков, после чего уступил место тиснению. С XX века вновь применяется чеканка, но удар производится не молотом, а с применением современных технологий

        </p> <hr /> <p>
            <strong>
                ЧЕКАНКА В ГЛАДКОМ КОЛЬЦЕ
            </strong>— процесс чеканки монет, при котором растягивающийся в стороны от удара или давления металл заполняет кольцо, образуя идеально ровную окружность. Если предварительно был нанесён гурт с вдавленными изображениями, они почти не искажаются. Чеканка в гладком кольце с выпуклым гуртом невозможна

        </p> <hr /> <p>
            <strong>
                ШИХТА
            </strong>— подготовленный металл в необходимых пропорциях для изготовления сплава. Ювелиры для этого применяют мелко нарезанную проволоку, кусочки проволоки взвешивают и отсчитывают нужное количество

        </p> <hr /> <p>
            <strong>
                ШЛИФОВКА ЗАГОТОВОК
            </strong>— помещение заготовок для монет в барабан с добавлением угольной пыли, воды, пластиковых шариков или других абразивов. Проводится для удаления с заготовок следов гари, пятен и других побочных явлений при их изготовлении

        </p> <hr /> <p>
            <strong>
                ШТЕМПЕЛЬ
            </strong>— металлический штамп с негативом для нанесения на монету изображений. При чеканке или тиснении используют сразу два штемпеля (лицевой и оборотной стороны)

        </p> <hr /> <p>
            <strong>
                ШТИХЕЛЬ
            </strong>— инструмент гравёра для правки изображений на штемпеле

        </p> <hr /> <p>
            <strong>
                ЮСТИРОВКА
            </strong>— приведение веса отдельной монеты к нормативу методом удаления части металла

        </p> <hr /> <p>
            <strong>
                ЯЩИК ПРОВЕРКИ МОНЕТ
            </strong>— специальная ёмкость, в которую помещали монеты из одной партии для их дальнейшей проверки на пробу и вес

            <h2 class="blog-post-title">
                Часть 6. Брак монет
            </h2>
        </p> <hr /> <p>
            <strong>

                БРАК ГАЛЬВАНОПОКРЫТИЯ
            </strong>— нарушение нанесения защитного металлического покрытия. Проявляется в виде вздутий покрытия, расплывчатых буквах, или другим цветом монеты

        </p> <hr /> <p>
            <strong>
                БРАК ЗАГОТОВКИ
            </strong>— вызван нарушением структуры или формы заготовки, использующейся для производства монеты

        </p> <hr /> <p>
            <strong>
                БРАК ПЛАКИРОВКИ
            </strong>— частичное отслоение защитного покрытия, или вздутия

        </p> <hr /> <p>
            <strong>
                БРАК ПРОКАТА (ДОЖДИК)
            </strong>— вызван нарушением в производстве листа металла для заготовк монет, обычно выглядит как ровные полосы через всё поле монеты

        </p> <hr /> <p>
            <strong>
                БРАК ЧЕКАНКИ
            </strong>— любые дефекты, вызванные нарушениями в процессе чеканки

        </p> <hr /> <p>
            <strong>
                ВЫКРОШКА ШТЕМПЕЛЯ
            </strong>— вздутия на монете, вызванные образованием на чеканочном штемпеле выбоин. Выкрошка может приводить к появлению дополнительных элементов изображений

        </p> <hr /> <p>
            <strong>
                ВЫКУС
            </strong>— отсутствие ровного полукруглого кусочка сбоку монеты, по диаметру должен располагаться «антивыкус» (выкус меньших размеров). Возникает из-за вырезания заготовки с заходом на соседнюю, при чеканке металл расползается и захватывает часть на противоположной стороне

        </p> <hr /> <p>
            <strong>
                ДВОЙНОЙ УДАР
            </strong>— двоение изображений на монете. Достаточно редкий брак, вызванный попаданием под чеканочный пресс уже готовой монеты

        </p> <hr /> <p>
            <strong>
                ЗАСОРЕНИЕ ШТЕМПЕЛЯ
            </strong>— попадание под штемпель посторонних предметов, в результате чего на монете образуются углубления, канавки

        </p> <hr /> <p>
            <strong>
                ИНКУЗНЫЙ БРАК
            </strong>— редкий вид брака, при котором с одной стороны монеты получается зеркальная копия изображения другой, но в негативе (вдавленное). Возникает из-за прилипания отчеканенной монеты на штемпеле, после чего удар по новой заготовке наносится монетой, а не штемпелем

        </p> <hr /> <p>
            <strong>
                НЕПРОЧЕКАН
            </strong>— один из самых распространённых типов брака, заключается в слабом пропечатывании изображений или надписей, в редких случаях могут отсутствовать совсем. Брак вызван неравномерной толщиной заготовки под монету

        </p> <hr /> <p>
            <strong>
                РАСКОЛ МОНЕТЫ (ТРЕЩИНА)
            </strong>— брак заготовки, из-за чего при чеканке произошло её раскалывание. Часто раскол монеты является следствием воздействия окружающей среды или нагревом, тогда к браку он не относится

        </p> <hr /> <p>
            <strong>
                РАСКОЛ ШТЕМПЕЛЯ
            </strong>— выпуклые кривые линии на монете, образовавшиеся из-за чеканки расколовшимся штемпелем

        </p> <hr /> <p>
            <strong>
                СКОЛ ШТЕМПЕЛЯ
            </strong>— дополнительные детали на монете, образовавшиеся из-за отсутствующих частей штемпеля при чеканке

        </p> <hr /> <p>
            <strong>
                СЛОЕНИЕ МЕТАЛЛА
            </strong>— расслоение монеты из-за брака заготовки

        </p> <hr /> <p>
            <strong>
                СОУДАРЕНИЕ
            </strong>— наличие на монете частей рисунка оборотной стороны. Возникает из-за холостого удара штемпелей (без заготовки), после чего на них остаются следы противоположного рисунка. Также называют это явление «холостой удар»

            <h2 class="blog-post-title">
                Часть 7. Денежное обращение
            </h2>
        </p> <hr /> <p>
            <strong>

                АЖИО (ЛАЖ)
            </strong>— добавочная стоимость к номиналу. Например, при совершении международных сделок часто приходилось доплачивать некоторый процент к стоимости, который назывался лажем

        </p> <hr /> <p>
            <strong>
                БЕЗНАЛИЧНЫЕ ДЕНЕЖНЫЕ СРЕДСТВА (БЕЗНАЛ)
            </strong>— банковские счета, металлические счета, драгоценные металлы, долговые обязательства, электронные деньги

        </p> <hr /> <p>
            <strong>
                БЕЗНАЛИЧНЫЙ РАСЧЁТ
            </strong>— осуществление платежа с помощью безналичных денежных средств

        </p> <hr /> <p>
            <strong>
                БИМЕТАЛЛИЗМ
            </strong>— денежная система, в которой роль основных платёжных средств отводится монетам из нескольких металлов. В России до реформы С.Ю. Витте в конце XIX века основой денежной системы был серебряный рубль, но золотая монета служила дополнением к нему, то есть фактически имел место биметаллизм. После реформы все расчёты стали проводиться исключительно в золотых рублях

        </p> <hr /> <p>
            <strong>
                ВАЛЮТА
            </strong>— название денежной единицы какой-либо станы. Существуют конвертируемые валюты </strong>— которые можно обменять в любой точке мира, и неконвертируемые («деревянные»), имевшие востребованность только на определённой территории

        </p> <hr /> <p>
            <strong>
                ВЕКСЕЛЬ
            </strong>— документ на выдачу денежной суммы. Поначалу, в отсутствие банкнот, служили для удобства перевозки денежных средств: в одном городе можно было получить вексель, а в другом разменять его на монеты. Существуют с XII века как средство международной торговли, а позже использовались и во внутренней торговле. Иногда допускалось обращение векселей наравне с монетами, так они стали прообразом бумажных денежных знаков. С появлением банкнот надобность в векселях почти пропала

        </p> <hr /> <p>
            <strong>
                ВОЕННЫЕ ДЕНЬГИ
            </strong>— монеты или банкноты, которые изготавливались в военное время при чрезвычайных обстоятельствах, имеют временный характер обращения, после восстановления экономики должны подлежать обмену. К военным деньгам можно отнести печатавшиеся оккупационные рейхсмарки, введённые Германией в 1941-1944 годах, украинские карбованцы 1940-х годов, и деньги для освобождённых территорий 1944-1945 годов

        </p> <hr /> <p>
            <strong>
                ДЕВАЛЬВАЦИЯ
            </strong>— снижение курса валюты относительно главных мировых валют, или драгоценных металлов. Когда основу денежного обращения составляли монеты из золота и серебра, девальвацией считалось снижение массы драгоценного металла в монете

        </p> <hr /> <p>
            <strong>
                ДЕМОНЕТИЗАЦИЯ
            </strong>— отмена обращения монеты и вывод её из разряда официального платёжного средства

        </p> <hr /> <p>
            <strong>
                ДЕНЕЖНАЯ ЕДИНИЦА
            </strong>— основная единица меры цен в государстве, или на определённой территории. В России со времён Петра I денежной единицей считается рубль, до этого на протяжении примерно 170 лет денежной единицей была копейка

        </p> <hr /> <p>
            <strong>
                ДЕНОМИНАЦИЯ
            </strong>— ввод новых денежных знаков, номинал которых снижен по отношению к покупательной способности. Например, деноминация 1998 года, когда за 1000 старых рублей давали 1 новый

        </p> <hr /> <p>
            <strong>
                ДЕФЛЯЦИЯ
            </strong>— снижение общего количества находящихся в обращении бумажных денег с целью повышения их ценности

        </p> <hr /> <p>
            <strong>
                ДОЛЯ
            </strong>— старорусская мера веса, равная 1/96 золотника, или 0,0444 г,

            ЗОЛОТНИК </strong>— старорусская мера веса, равная примерно 4,226 г., или 1/96 русского фунта

        </p> <hr /> <p>
            <strong>
                ЗОЛОТНИКОВАЯ ПРОБА
            </strong>— система проб драгоценного металла в дореволюционной России. Чистым металлом считается 96 проба, если проба ниже, значит в ней содержится часть другого металла (в 48 пробе только половина драгоценного металла)

        </p> <hr /> <p>
            <strong>
                ЗОЛОТОЙ ЗАПАС
            </strong>— количество золота, хранящегося в центральном банке государства для регулирования уровня инфляции, или для преодоления кризисных ситуаций. В России до Революции золотой запас был основной мерой ценности бумажного рубля, позже стал выполнять второстепенную роль

        </p> <hr /> <p>
            <strong>
                ЗОЛОТОЙ ПАРИТЕТ
            </strong>— содержание чистого золота в денежной единице страны. В России в 1898-1914 годах золотое содержание рубля составляло 17,424 долей, то есть около 0,7 г

        </p> <hr /> <p>
            <strong>
                ЗОЛОТОЙ РУБЛЬ
            </strong>— введён в России в 1898 году как основная денежная единица. На бумажных деньгах того времени можно видеть указание о золотом содержании рубля и обязательном размене на золото

        </p> <hr /> <p>
            <strong>
                ЗОЛОТОЙ СТАНДАРТ
            </strong>— денежная система, в которой основной мерой всех цен считается золото, а денежная единица должна быть полностью или частично обеспечена золотом. В России золотой стандарт был введён в 1898 году и продержался до 1917 года (фактически </strong>— до 1914), в некоторых других странах до середины XX века

        </p> <hr /> <p>
            <strong>
                ИНФЛЯЦИЯ
            </strong>— процесс, при котором снижается покупательная способность денежной единицы. Возникает из-за увеличения массы денег в обращении, непропорционально увеличению количества товаров и услуг

        </p> <hr /> <p>
            <strong>
                ЛОТ
            </strong>— старорусская мера веса, равная 3 золотникам, ли 12,797 г

        </p> <hr /> <p>
            <strong>
                МЕДНЫЙ БУНТ
            </strong>— народное восстание, произошедшее в Москве в 1662 году. Стало следствием введения медных монет, имевших размер, вес и номинал, равный серебряным. Монеты быстро обесценились

        </p> <hr /> <p>
            <strong>
                МЕТРИЧЕСКАЯ ПРОБА
            </strong>— система определения содержания драгоценного металла в сплаве, при которой количество определяется в промилле (1/1000). Принята в качестве международной

        </p> <hr /> <p>
            <strong>
                МОНЕТИЗАЦИЯ
            </strong>— перевод каких-либо услуг в денежный эквивалент

        </p> <hr /> <p>
            <strong>
                МОНЕТНАЯ РЕГАЛИЯ
            </strong>— монополия государства на выпуск монеты, при этом выпуск монет частным лицом является нарушением законодательства

        </p> <hr /> <p>
            <strong>
                МОНОМЕТАЛЛИЗМ
            </strong>— денежное обращение, при котором ценность всех денег выражается в каком-то одном металле (например, в золоте)

        </p> <hr /> <p>
            <strong>
                НАРИЦАТЕЛЬНАЯ СТОИМОСТЬ
            </strong>— стоимость, указанная на монете или денежном знаке, обычно превышающая реальную стоимость по количеству материала

        </p> <hr /> <p>
            <strong>
                НАЛИЧНЫЕ ДЕНЬГИ (НАЛИЧНОСТЬ)
            </strong>— денежная сумма, находящаяся в виде официальных платёжных средств (монеты, денежные знаки), исключая счета, долговые обязательства, оеночную стоимость каких-либо предметов

        </p> <hr /> <p>
            <strong>
                НОМИНАЛ
            </strong>— стоимость, обозначенная на монете, денежном знаке или другом платёжном средстве

        </p> <hr /> <p>
            <strong>
                ПАРИТЕТ
            </strong>— курс иностранной монеты, устанавливаемый по содержанию чистого драгоценного металла

        </p> <hr /> <p>
            <strong>
                ПЛАТЁЖНОЕ СРЕДСТВО
            </strong>— любой предмет, которым можно оплатить покупку или услугу

        </p> <hr /> <p>
            <strong>
                ПОРЧА МОНЕТЫ
            </strong>— официальное снижение пробы монет из драгоценных металлов с целью удешевления производства при сохранении объёмов выпуска. Применялась в периоды экономических кризисов для пополнения государственной казны иногда сопровождалась народными волнениями

        </p> <hr /> <p>
            <strong>
                ПУД
            </strong>— старорусская мера веса, равная 40 фунтам, или примерно 16 кг

        </p> <hr /> <p>
            <strong>
                РАЗМЕННАЯ МОНЕТА
            </strong>— монета из дешёвого металла (чаще всего медь), служащая для частичного замещения монет из драгоценных металлов в обращении

        </p> <hr /> <p>
            <strong>
                РЕВАЛЬВАЦИЯ
            </strong>— явление, противоположное девальвации

        </p> <hr /> <p>
            <strong>
                РЕДУКЦИЯ
            </strong>— снижение стоимости материала монеты для уравновешивания с номинальной стоимостью. Подобная необходимость возникает в случае инфляции, когда деньги обесцениваются, и выпуск монеты из прежнего материала признаётся нерентабельным

        </p> <hr /> <p>
            <strong>
                СЕРЕБРЯНЫЙ СТАНДАРТ
            </strong>—  денежная система, в которой основной мерой всех цен считается серебро, а денежная единица должна быть полностью или частично обеспечена серебром. В России золотой стандарт был введён в 1840-х годах и продержался до реформы 1890-х

        </p> <hr /> <p>
            <strong>
                ТРОЙСКАЯ УНЦИЯ (УНЦИЯ)
            </strong>— международная мера веса для драгоценных металлов, равная 31,1035 грамма. Современные коллекционные монеты из золота и серебра в основном имеют вес чистого металла, кратный унции. Ранее в Европе использовалась другая унция, вес которой был около 27 грамм

        </p> <hr /> <p>
            <strong>
                ФУНТ
            </strong>— мера веса в дореволюционной России и других странах. В России фунт равнялся 96 золотникам, или примерно 405,7 г

        </p> <hr /> <p>
            <strong>
                ХОДЯЧАЯ МОНЕТА
            </strong>— монета, предназначенная для обращения (не памятная), и имеющая в данный момент статус законного платёжного средства

        </p> <hr /> <p>
            <strong>
                ЮСТИРОВОЧНАЯ КРУЖКА
            </strong>— приспособление, применявшееся  средневековье для выявления монет с обрезанными частями, или слишком мелких. Представляла собой сосуд с прорезями размером со стандартные монеты. Все проходящие через прорези монеты считались непригодными

        </p> <hr /> <p>
            <strong>
                ЧИСТЫЙ ВЕС
            </strong>— чистая масса определённого драгоценного металла в сплаве (лигатурный вес)

        </p> <hr /> <p>
            <strong>
                ШТРИХОВАЯ ПРОБА
            </strong>— визуальное определение пробы монеты. Для этого краем монеты проводили по специальному камню (чаще всего применялся шунгит), и сравнивали полученную черту с чертой от металла известной пробы. Такой способ очень неточный, достоверность определения зависит от опыта проверяющего

        </p> <hr /> <p>
            <strong>
                ЭМИССИЯ
            </strong>— ввод в обращение денежных знаков, монет и других платёжных средств
            <h2 class="blog-post-title">
                Часть 8. Коллекционирование
            </h2>
        </p> <hr /> <p>
            <strong>

                БОНИСТИКА
            </strong>— коллекционирование и изучение бон, то есть вышедших из обращения денежных знаков и других платёжных срдств

        </p> <hr /> <p>
            <strong>
                ЗЕРКАЛЬНЫЙ БЛЕСК (BU)
            </strong>— монета изготовлена отполированным штемпелем (включая углубления), но без применения отполированной до зеркального блеска заготовке. Рисунки и поле монеты блестящие

        </p> <hr /> <p>
            <strong>
                ИЗНОС
            </strong>— процесс снижения состояния монеты в результате обращения

        </p> <hr /> <p>
            <strong>
                МЕДЯНКА
            </strong>— зелёные пятна на медных или содержащих медь монетах. Обычно приводит к образованию углублений, проявляющихся после удаления налёта

        </p> <hr /> <p>
            <strong>
                МЮНЦКАБИНЕТ
            </strong>— небольшой богато украшенный шкафчик для хранения коллекции монет, чаще всего из благородных пород дерева. В настоящее время почти не используются и сохранились только в музеях

        </p> <hr /> <p>
            <strong>
                НУМИЗМАТИКА
            </strong>— коллекционирование и изучение монет и монетовидных денежных знаков

        </p> <hr /> <p>
            <strong>
                ОКИСЛЫ (ОКИСЬ)
            </strong>— появление на поверхности монеты налёта, вызванного воздействием кислорода. Окислы могут быть ровными и естественными, тогда они образуют патину и предохраняют монету от дальнейших повреждений. Неровные или слишком сильные окислы (например пятна) приводят к необратимому повреждению поверхности

        </p> <hr /> <p>
            <strong>
                ПАТИНА
            </strong>— слой окислов на металле, возникший в результате естественных процессов при контакте с воздухом или жидкостями. Благородная (красивая) патина придаёт монете ценность и подтверждает её подлинность

        </p> <hr /> <p>
            <strong>
                ПОЛИРОВАННЫЙ ШТЕМПЕЛЬ (PROOF)
            </strong>— наивысшее качество чеканки, достигается использованием полированного до зеркального состояния штемпеля (без вдавленных частей) и полированных заготовок. Монета имеет зеркальное поле без каких-либо дефектов и матовый рисунок. Незначительные дефекты производства снижают качество чеканки до prooflike

        </p> <hr /> <p>
            <strong>
                СКРИПОФИЛИЯ
            </strong>— коллекционирование и изучение старых ценных бумаг (акций, облигаций, платёжных поручительств, чеков и т.д.)

        </p> <hr /> <p>
            <strong>
                СЛЕД УШКА
            </strong>— на монете видны следы от ранее припаянного ушка для использования монеты в качестве талисмана или подвешивания на одежду. Такие следы почти никогда полностью не удаляются и сильно снижают ценность монет

        </p> <hr /> <p>
            <strong>
                СЛЕД ОПРАВЫ
            </strong>— на монете видны остатки припаянного крепежа, которым монета могла вставляться в оправу для использования в качестве украшения или талисмана. Значительно снижают ценность экземпляра

        </p> <hr /> <p>
            <strong>
                СПИЛ (ОПИЛИВАНИЕ)
            </strong>— след от удалённой части метала монеты, или следы некачественного удаления ушка, оправы

        </p> <hr /> <p>
            <strong>
                СТЕПЕНЬ СОХРАННОСТИ
            </strong>— определение состояния монеты или боны по общепринятым категориям (система Шелдона или международная система). Подробнее о состоянии монет, подробнее о состоянии бон. Степень сохранности </strong>— один из ключевых факторов оценки

        </p> <hr /> <p>
            <strong>
                УНИКУМ (УНИКАЛЬНЫЙ ЭКЗЕМПЛЯР)
            </strong>— монета или бона, известная в единственном экземпляре

        </p> <hr /> <p>
            <strong>
                УШКО
            </strong>— припаянное к мнете крепление для нити или цепочки с целью использования её как талисмана

        </p> <hr /> <p>
            <strong>
                ФАКТУРА
            </strong>— точность проработки деталей изображений на монете. Например, литьевые копии отличаются сглаженным деталями изображений

        </p> <hr /> <p>
            <strong>
                ЦАПОНИРОВАНИЕ
            </strong>— покрытие коллекционной монеты защитным лаком, предотвращающим окисление и коррозию металла. Название произошло от использования цапоновых лаков (раствор нитроцеллюлозы в ацетоне или других растворителях). Необходимость цапонирования оспаривается многими коллекционерами, которые утверждают что монеты теряют первоначальный вид, и могут получить скрытые повреждения из-за не до конца удалённого налёта перед покрытием. Сторонники считают это идеальным методом сохранения монет на длительный срок

        </p> <hr /> <p>
            <strong>
                ЧИСТКА БОН
            </strong>— удаление с поверхности коллекционных денежных знаков грязи, пятен, чернил, клея. Процесс требует определённых навыков, поэтому должен проводиться только опытным специалистом

        </p> <hr /> <p>
            <strong>
                ЧИСТКА МОНЕТ
            </strong>— удаление части налёта грязи, окислов и коррозии с монеты. При правильной чистке металл не должен получиться полностью свободным от всякого рода отложений, целью должно являться удаление только портящих внешний вид следов, которые могут в дальнейшем повредить металл. Полное удаление может значительно снизить ценность монеты. При чистке следует применять химические реактивы, электролиз, мыльный раствор. Механическая чистка (паста гои, грубая ткань) приводит к сглаживанию деталей рисунка

        </p> <hr /> <p>
            <strong>
                ШТЕМПЕЛЬНЫЙ БЛЕСК
            </strong>— матовая поверхность монеты, переливающаяся при изменении угла освещения. Наличие штемпельного блеска является первичным показателем прекрасной сохранности. Отполированные вручную монеты теряют первоначальный штемпельный блеск, который невозможно восстановить
            <h2 class="blog-post-title">
                Часть 9. Кладоискательство
            </h2>
        </p> <hr /> <p>
            <strong>

                ВОТИВНЫЕ НАХОДКИ
            </strong>— находки монет, которые были не случайно потеряны или зарыты в виде кладов, а принесены в качестве подношений богам, обнаружены в иконах, основаниях храмов, священных источниках и т.д

        </p> <hr /> <p>
            <strong>
                ВСПОМОГАТЕЛЬНЫЕ НАХОДКИ
            </strong>— обнаруживаемые в кладах монет предметы, не имеющие отношения к денежному обращению, но помогающие датировать находку

        </p> <hr /> 
        <p>
            <strong>
                КЛАД
            </strong>— намеренно спрятанные сокровища для их долгосрочного сохранения. Обычно в кладах находят монеты из драгоценных металлов, хотя встречаются и медные. В период Гражданской войны прятали даже пачки с купюрами царского образца, считая их значительно более ценными, чем новые советские деньги

        </p>
        <hr /> 
        <p>
            <strong>
                КОП
            </strong>— просторечное название находок, найденных методом раскопок

        </p> <hr /> <p>
            <strong>
                МЕТАЛЛОИСКАТЕЛЬ
            </strong>— устройство для поиска металлических предметов в земле. При обнаружении обычно издаёт звук, изменяющий мощность в зависимости от удаления от предмета

        </p> <hr /> <p>
            <strong>
                НЕМАЯ МОНЕТА
            </strong>— монета с нечитаемыми надписями и изображениями, или если они ни о чём не могут сказать специалисту, изучающему клад

        </p> <hr /> <p>
            <strong>
                ОПРЕДЕЛЯЮЩАЯ МОНЕТА
            </strong>— монета с хорошо читаемыми надписями и изображениями, с помощью которой удаётся правильно датировать находку
            <h2 class="blog-post-title">
                Часть 10. Фальшивки, копии, подделки
            </h2>
        </p> <hr /> <p>
            <strong>

                ГАЛЬВАНОКОПИЯ
            </strong>— копирование монеты посредством нанесения тонкого слоя металла с последующим склеиванием двух половинок. Применяется для подделки ценных коллекционных экземпляров, или для снижения фальшивомонетчиками содержания драгоценного металла в монете

        </p> <hr /> <p>
            <strong>
                ИСКУССТВЕННАЯ ПАТИНА
            </strong>— подкрашивание монеты, или попытка быстрого создания патины путём ускорения естественных процессов. Придаёт подделке или копии вид настоящего экземпляра

        </p> <hr /> <p>
            <strong>
                ЛИТЬЕВАЯ КОПИЯ
            </strong>— копия монеты, изготовленная методом отливки в форму, а не чеканкой. Отличается расплывчатыми деталями, неравномерно застывшей поверхностью

        </p> <hr /> <p>
            <strong>
                ОБРЕЗЫВАНИЕ
            </strong>— удаление части драгоценного металла с монет для дальнейшего изготовления из него подделок или перепродажи

        </p> <hr /> <p>
            <strong>
                ПОДДЕЛЬНАЯ МОНЕТА
            </strong>— копия монеты, созданная для обмана коллекционеров. В отличие от фальшивой она не предназначена для участия в денежном обращении

        </p> <hr /> <p>
            <strong>
                ПОДРАЖАНИЕ
            </strong>— выпуск монет или банкнот другого государства или неподконтрольной территории, санкционированный правительством. Подражания могут иметь небольшие отличия, но могут в точности повторять оригинал, включая пробу. Целью подражаний являлось использование в торговом обороте более востребованных монет, или проводилась попытка расстроить финансовую систему другого государства

        </p> <hr /> <p>
            <strong>
                СТРИЖКА МОНЕТЫ
            </strong>— тоже, что обрезывание

        </p> <hr /> <p>
            <strong>
                СУВЕНИРНЫЕ МОНЕТЫ
            </strong>— копии монет, или монеты собственного дизайна, изготовленные для использования как сувениры, и имеющие значительные отличия от оригиналов (если в чём-то их повторяют)

        </p> <hr /> <p>
            <strong>
                ФАЛЬШИВАЯ МОНЕТА
            </strong>— копия монеты, изготовленная злоумышленником с целью использования её в денежном обращении
            <hr />
    </article>
    <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="~/Pages/SecondArticle.cshtml">Назад</a>
        <a class="btn btn-outline-secondary disabled" tabindex="-1" aria-disabled="true">Вперед</a>



    </nav>
</main>
}
