@{
    Layout = "BasePages/_basePage.cshtml";
    Page.Section = "thirdArticle";
}

@section thirdArticle{
    <main class="container">
        <article class="blog-post mt-5">
            <h1>Словарь терминов (нумизматика и бонистика)</h1>
            <p class="blog-post-meta">В литературе по нумизматике и бонистике используются общепринятые понятия, знание которых необходимо для правильного понимания каталогов. Ниже приведена расшифровка основных терминов, употребляемых в справочниках при описании разновидностей и состояния, а также понятия, встречающиеся на форумах и в специализированной литературе. Для удобства все они разделены на группы.</p>
            <h2 class="blog-post-title">Часть 1. Основные понятия</h2>
            <p> <strong>АВЕРС</strong> — лицевая сторона. Для правильного определения того, что называть аверсом, необходимо последовательно проверить монету или бону на наличие следующих изображений:</p>
            <ul>
                <li>портрет правившего на тот период монарха;</li>
                <li>государственный герб;</li>
                <li>вензель или монограмма (узор, составленный из букв) правившего монарха;</li>
                <li>название государства-эмитента (например, «Российская Федерация»);</li>
                <li>название организации-эмитента (например, «Банк России»);</li>
                <li>номинал (пример - «50 копеек»).</li>
            </ul>
            <p>Если на монете есть потрет монарха, то сторона с его изображением является аверсом. Если портрета нет, или изображён портрет другого лица, аверсом будет сторона с гербом. Если и герба нет, тогда сторона с вензелем и т.д. Новички ошибочно считают аверсом ту сторону, где указан номинал, поскольку для пользователя он является наиболее важным. Это неправильное мнение.</p>
            <p>На банкнотах аверс обычно определяется проще, он содержит более сложные изображения, больше элементов защиты, а также соответствует тем же правилам, которые приведены выше для монет.</p>
            <hr />
            <p><strong>БУРТИК</strong> — выступающее кольцо по окружности сторон монеты. Имеет не только эстетическое, но и технологическое значение, появляется на заготовке при нанесении гурта.</p>
            <hr />
            <p><strong>БУРТИК</strong> — выступающее кольцо по окружности сторон монеты. Имеет не только эстетическое, но и технологическое значение, появляется на заготовке при нанесении гурта.</p>
            <hr />            <p><strong>БУРТИК</strong> — выступающее кольцо по окружности сторон монеты. Имеет не только эстетическое, но и технологическое значение, появляется на заготовке при нанесении гурта.</p>
            <hr />            <p><strong>БУРТИК</strong> — выступающее кольцо по окружности сторон монеты. Имеет не только эстетическое, но и технологическое значение, появляется на заготовке при нанесении гурта.</p>
            <hr />
        </article>
        <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary" href="~/Pages/SecondArticle.cshtml">Назад</a>
            <a class="btn btn-outline-secondary disabled" tabindex="-1" aria-disabled="true">Вперед</a>
        </nav>
    </main>
}
