@{
    Layout = "BasePages/_basePage.cshtml";
    Page.Section = "traning";
}

@section traning {

    <main class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center ">
            <h1 class="display-4">Статьи</h1>
            <p class="lead">Статьи сделаны для тех, кто только начинает знакомится с коллекционированием монет.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 mt-5 text-center">
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">10 советов начинающему нумизмату</h4>
                    </div>
                    <div class="card-body">           
                        <a href="~/Pages/FirstArticle.cshtml" class="w-100 btn btn-lg btn-outline-info">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">Как стать коллекционером - нумизматом</h4>
                    </div>
                    <div class="card-body">         
                        <a href="~/Pages/SecondArticle.cshtml" class="w-100 btn btn-lg btn-outline-info">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">Словарь терминов нумизматов</h4>
                    </div>
                    <div class="card-body">                    
                        <a href="~/Pages/ThirdArticle.cshtml" class="w-100 btn btn-lg btn-outline-info">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
}