.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main_autorization, .main_registration,.main_add-coin {
    height: 80% !important;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.container-autorization, .container-registration, container-add-coin {
    position: relative !important;
    width: 100%;
    height: 100%;
    background: #f8f9fa !important;
}